#contact-page {
    background-color: #6610f2;
  .container {
   .contact-page{
    padding: 180px 0;
    .row {
        color: rgba(255, 255, 255, 0.8);
        z-index: 0;
        position: relative;
        .col-md-9 {
            text-align: center !important;
          h1 {
            font-weight: 300;
            color: #fff;
            font-size: 60px;
          }
          p {
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 400;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
            .me-2{
                color: rgba(255, 255, 255, 0.8);
                margin-right: 0.5rem !important;
                &:hover{
                    a{
                        color: #1fb6fc;
                        i{
                            color: #1fb6fc;
                        }
                    }
                }
                
                a{
                    color: rgba(255, 255, 255, 0.8);
                    
                   
                    i{
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 12px;
                        

                    }
                }
            }
            span{
                color: rgba(255, 255, 255, 0.8);
                margin-right: 0.5rem !important;
                a{
                    color: rgba(255, 255, 255, 0.8);
                    i{
                        color: rgba(255, 255, 255, 0.8);
                        font-size: 12px;

                    }
                }
            }
          }
        }
      }
   }
  }
}

#contact-info{
    padding: 6em 0;
    position: relative;
    width: 100%;
    .container-xl{
        .row{
            .col-md-12{
                h2{
                    font-weight: 500;

                }
            }
            .col-md-3{
                width: 100%;
                max-width: 100%;
                padding-right: calc(var(--bs-gutter-x) / 2);
                padding-left: calc(var(--bs-gutter-x) / 2);
                margin-top: var(--bs-gutter-y);
                p{
                    margin-top: 0;
                    span{

                    }
                    a{
                        color: #1fb6fc;

                    }
                }
            }
        }
        .message{
            flex-wrap: wrap;
            .order-md-last{
                width: 100%;
                form{
                    width: 100%;
                    .form-group{
                        input{
                            height: 50px;
                            background: white;
                            color: rgba(0, 0, 0, 0.8);
                            font-size: 14px;
                            border-radius: 2px;
                            box-shadow: none !important;
                            margin-bottom: 10px;

                        }
                        textarea{
                            background: white;
                            color: rgba(0, 0, 0, 0.8);
                            font-size: 14px;
                            border-radius: 2px;
                            box-shadow: none !important;
                            margin-bottom: 10px;

                        }
                        .btn{
                            @extend %btn;
                            background-color: #1fb6fc !important;
                            border: 1px solid #1fb6fc !important;
                            color: #fff !important;
                        }
                    }
                }
                .col-md-6{
                    #map{
                        position: relative;
                        // overflow: hidden;
                    }
                    .gm-err-container{
                        .gm-err-content{
                            border-radius: 1px;
                            padding-top: 0;
                            padding-left: 10%;
                            padding-right: 10%;
                            position: static;
                            vertical-align: middle;
                            display: table-cell;
                        
                            .gm-err-icon{
                                text-align: center;
                                img{

                                }
                            }

                        }

                    }
                }

            }
        }
    }

}
