* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
}

#price .container .price .col-md-3 .content .text-center a, #about .about .py-5 .py-md-5 a {
  padding: 0 20px;
  cursor: pointer;
  border-radius: 40px 40px 40px 0;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#price .container .price .col-md-3 .content .text-center a:hover, #about .about .py-5 .py-md-5 a:hover {
  border-radius: 0 40px 40px 40px;
}

#blog .container .blog .col-md-7 span, #price .container .price .col-md-7 span, #work .container-fluid .work .col-md-7 span, #choose .container .choose .row .col-md-8 span, #customers .container .customers .pb-5 .col-md-7 span, #team .container .team .pb-5 .col-md-7 span {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: #1fb6fc;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

#blog .container .blog .col-md-7 h2, #price .container .price .col-md-7 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}

#blog .container .blog .col-md-7 p, #price .container .price .col-md-7 p {
  color: #88879e;
}

header {
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px 0;
  background-color: #6610f2;
}
header .container .header .header-logo {
  font-size: 24px;
  font-weight: 900;
  color: white;
}
header .container .header nav {
  display: flex;
  justify-content: space-between;
}
header .container .header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .container .header nav ul li a {
  font-size: 12px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
header .container .header nav ul li a:hover::after {
  content: "";
  display: block;
  width: 70%;
  position: absolute;
  left: 20px;
  height: 2px;
  border: 1px solid white;
  margin-top: 5px;
  transition: 1s;
}
header .container .header nav .b {
  display: none;
}
header .container .header nav .b .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}
header .container .header nav .b .navbar-toggler span {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
header .container .header nav .b .navbar-toggler .navbar-collapse {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  header .container .header nav ul {
    display: none;
  }
  header .container .header nav .b {
    display: block;
  }
}
#footer {
  padding: 5em 0 0 0;
  background: #eaedff;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#footer .container .footer .col-lg {
  flex: 1 0 0%;
}
#footer .container .footer .col-lg .logo {
  color: #2a3a60;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}
#footer .container .footer .col-lg .logo a {
  color: #1fb6fc;
  font-size: 18px;
}
#footer .container .footer .col-lg .footer-icons {
  padding-left: 0;
}
#footer .container .footer .col-lg .footer-icons li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
#footer .container .footer .col-lg .footer-icons li a {
  height: 40px;
  width: 40px;
  display: block;
  float: left;
  border-radius: 5px;
  position: relative;
  border: 1px solid #1fb6fc;
}
#footer .container .footer .col-lg .footer-icons li a i {
  font-size: 14px;
  position: absolute;
  top: 40%;
  left: 30%;
  color: #1fb6fc !important;
}
#footer .container .footer .col-md-6 .explore h2 {
  color: #2a3a60;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}
#footer .container .footer .col-md-6 .explore ul {
  padding-left: 0;
}
#footer .container .footer .col-md-6 .explore ul li {
  margin-bottom: 10px;
}
#footer .container .footer .col-md-6 .explore ul li a {
  color: #88879e;
}
#footer .container .footer .col-md-6 .explore ul li a:hover {
  color: #1fb6fc;
}
#footer .container .footer .col-md-6 .explore ul li a i {
  font-size: 14px;
}
#footer .container .footer .rec .recent h2 {
  color: #2a3a60;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}
#footer .container .footer .rec .recent .mb-4 img {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#footer .container .footer .rec .recent .text {
  padding-left: 20px;
}
#footer .container .footer .rec .recent .text .meta a {
  color: #a4a3b5;
  font-size: 13px;
}
#footer .container .footer .rec .recent .text .meta a i {
  color: #1fb6fc;
}
#footer .container .footer .rec .recent .text h6 a {
  color: #88879E;
}
#footer .container .footer .rec .recent .text h6 a:hover {
  color: #1fb6fc;
}
#footer .container-fluid {
  background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
}
#footer .container-fluid .row .col-md-12 {
  text-align: center !important;
}
#footer .container-fluid .row .col-md-12 p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
#footer .container-fluid .row .col-md-12 p a {
  color: #1fb6fc;
}

#home {
  background-color: #6610f2;
  padding: 200px;
}
#home .container .home {
  margin: 10px;
}
#home .container .home .col-md-6 h1 {
  font-weight: 700;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
}
#home .container .home .col-md-6 p {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8);
}
#home .container .home .home-buttons .start {
  background: #1fb6fc !important;
  border: 1px solid #1fb6fc !important;
  color: #fff !important;
  margin-right: 10px;
}
#home .container .home .home-buttons .call {
  background: #bc6ff1 !important;
  border: 1px solid #bc6ff1 !important;
  color: #fff !important;
}
#home .container .home .home-buttons .btn {
  padding: 0 20px;
  cursor: pointer;
  border-radius: 40px 40px 40px 0;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#home .container .home .home-buttons .btn:hover {
  border-radius: 0 40px 40px 40px;
}
#home .container .home .home-icons {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 8px;
}
#home .container .home .home-icons li a i {
  color: white;
}

#services {
  font-family: "Roboto", Arial, sans-serif;
  background-color: whitesmoke;
}
#services .container .services {
  padding: 100px 0;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left {
  padding-right: 3rem !important;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left .our-services {
  font-size: 12px;
  margin-bottom: 5px;
  color: #1fb6fc;
  font-weight: 500;
  letter-spacing: 2px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left p {
  color: #88879e;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left a {
  background: #bc6ff1 !important;
  border: 1px solid #bc6ff1 !important;
  color: #fff !important;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left .btn {
  padding: 15 20px;
  cursor: pointer;
  border-radius: 40px 40px 40px 0;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}
#services .container .services .g-0 .col-md-12 .row .col-md-8 .service-left .btn:hover {
  border-radius: 0 40px 40px 40px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 {
  display: flex;
  align-items: center;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  height: 250px;
  width: 250px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4:hover {
  background-color: #1fb6fc;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4 .services-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  background: #eff2ff;
  margin-bottom: 10px;
  position: relative;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4 .services-icon a i {
  position: absolute;
  top: 10px;
  left: 9px;
  font-size: 40px;
  line-height: 1.2;
  color: #1fb6fc;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4 .services-icon a .position-icon {
  position: absolute;
  left: 20px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .col-md-4 .services-icon a .position-img {
  position: absolute;
  left: 11px;
  top: 10px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .services-text {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .services-text h2 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
#services .container .services .g-0 .col-md-12 .row .col-md-12 .services-text p {
  color: #88879e;
}

#about .about {
  padding: 100px 0;
}
#about .about .col-md-6 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#about .about .py-5 {
  font-family: "Roboto", Arial, sans-serif;
}
#about .about .py-5 .py-md-5 span {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  color: #1fb6fc;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
#about .about .py-5 .py-md-5 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}
#about .about .py-5 .py-md-5 a {
  background: #1fb6fc !important;
  border: 1px solid #1fb6fc !important;
  color: #fff !important;
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
#counter .container .row .col .stastic {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#counter .container .row .col .stastic img {
  height: 200px;
  width: 300px;
}
#counter .container .row .col .stastic span {
  font-size: 50px;
  font-weight: 400;
  color: #1fb6fc;
  line-height: 1;
  margin-bottom: 5px;
}
#counter .container .row .col .stastic span .counter {
  display: inline-block;
  font-size: 50px;
  font-weight: 400;
  color: #1fb6fc;
  line-height: 1;
  margin-bottom: 5px;
}

@media only screen and (max-width: 991.98px) {
  .counter img {
    height: 400px;
    display: block;
    width: 100%;
    background-position: top center;
  }
}
#team .container .team {
  padding: 100px 0;
}
#team .container .team .pb-5 .col-md-7 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}
#team .container .team .row .col-md-6:hover .card-body {
  background-color: #f9f1fe;
}
#team .container .team .row .col-md-6:hover .team-icons li a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  background-color: #f2e3fc;
  color: #a641ec;
  border-radius: 50%;
  transition: 1.2s;
}
#team .container .team .card {
  position: relative;
}
#team .container .team .team-wrap {
  position: absolute;
  z-index: 1;
  top: 115px;
  left: -35px;
  padding: 10px;
}
#team .container .team .team-wrap .team-icons li {
  list-style: none;
  margin: 15px;
}
#team .container .team .team-wrap .team-icons li a {
  display: none;
}

#customers {
  background-color: #f9faff;
}
#customers .container .customers {
  padding: 100px;
}
#customers .container .customers .pb-5 .col-md-7 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}
.happy-card {
  position: relative;
  padding: 50px 0;
}
.happy-card .item {
  display: flex;
  background-color: white;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}
.happy-card .item .icon-customer {
  position: absolute;
  z-index: 97;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 50%;
}
.happy-card .item .icon-customer i {
  padding: 15px;
  background-color: #1FB6FC;
  border-radius: 50%;
  color: white;
}
.happy-card .item .customer-img {
  display: flex;
  align-items: center;
}
.happy-card .item .customer-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.happy-card .item .customer-img .customer-info {
  padding-left: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

#choose {
  position: relative;
  z-index: 0;
  background-color: #f7f8fd;
}
#choose .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
  opacity: 1;
  height: 550px;
}
#choose .container .choose {
  padding: 100px 0;
}
#choose .container .choose .row .col-md-8 span {
  color: white;
}
#choose .container .choose .row .col-md-8 h2 {
  color: white;
}
#choose .container .choose .row .col-md-8 p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 35px;
}
#choose .container .choose .row .col .prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background-color: white;
  text-align: center;
}
#choose .container .choose .row .col .prod:hover {
  transition: 1s;
  background-color: #1fb6fc;
}
#choose .container .choose .row .col .prod:hover .icon {
  background-color: white !important;
}
#choose .container .choose .row .col .prod:hover .icon i {
  color: #1fb6fc !important;
}
#choose .container .choose .row .col .prod .prod-head {
  padding: 20px;
}
#choose .container .choose .row .col .prod .prod-head .icon {
  background-color: #1fb6fc;
  padding: 30px;
  border-radius: 50%;
}
#choose .container .choose .row .col .prod .prod-head .icon .fa-solid {
  font-size: 30px;
  color: white;
}
#choose .container .choose .row .col .prod .prod-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}
#choose .container .choose .row .col .prod .prod-body p {
  padding: 0 20px;
}

#work .container-fluid .work {
  padding: 100px 0;
}
#work .container-fluid .work .col-md-7 h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}
#work .container-fluid .work .comp .col-md-3 #comp:hover .text {
  background-color: #E8F8FF;
}
#work .container-fluid .work .comp .col-md-3 #comp:hover .text .category {
  background-color: #84D7FD;
  color: white;
}
#work .container-fluid .work .comp .col-md-3 #comp .work-wrap .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#work .container-fluid .work .comp .col-md-3 #comp .work-wrap .img img {
  width: 100%;
  height: 400px;
  border-radius: 4px;
  display: block;
}
#work .container-fluid .work .comp .col-md-3 #comp .work-wrap .text {
  width: 100%;
  padding: 20px;
}
#work .container-fluid .work .comp .col-md-3 #comp .work-wrap .text span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 13px;
  background: #f9faff;
  padding: 3px 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
#work .container-fluid .work .comp .col-md-3 #comp .work-wrap .text h5 {
  color: #2a3a60;
}
#work .container-fluid .work .view .col-md-12 p a {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  padding: 4px 10px;
  color: #1fb6fc;
  letter-spacing: 1px;
}

#price {
  background-color: aliceblue;
}
#price .container .price {
  padding: 100px 0;
}
#price .container .price .col-md-3 .content {
  position: relative;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
}
#price .container .price .col-md-3 .content .text-center {
  text-align: center !important;
}
#price .container .price .col-md-3 .content .text-center .price-head sup {
  font-size: 24px;
  top: -0.8em;
  color: #aebbdb;
}
#price .container .price .col-md-3 .content .text-center .price-head .number {
  font-size: 50px;
  font-weight: 400;
  color: #1fb6fc;
}
#price .container .price .col-md-3 .content .text-center p {
  margin-bottom: 20px;
  color: #2a3a60;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}
#price .container .price .col-md-3 .content .text-center ul {
  padding: 0;
  margin: 0;
}
#price .container .price .col-md-3 .content .text-center ul li {
  list-style: none;
  padding: 10px 0;
}
#price .container .price .col-md-3 .content .text-center ul li i {
  color: #1fb6fc;
}
#price .container .price .col-md-3 .content .text-center a {
  color: #fff;
  text-transform: uppercase;
  font-style: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 60%;
  margin: 0 auto;
}

#blog {
  background: #f9faff !important;
}
#blog .container .blog {
  padding: 100px 0;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-a img {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
  z-index: -1;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  padding: 30px;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text h3 {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.5;
  color: #2a3a60;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text h3 a {
  color: #000000;
  text-decoration: none;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text p span {
  margin-right: 10px;
}
#blog .container .blog .col-lg-3 .blog-entry .blog-text p a {
  color: #1fb6fc;
}

#newsLetter {
  width: 100%;
  position: relative;
  z-index: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0d6efd !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
#newsLetter .container .newsLetter {
  padding: 100px 0;
}
#newsLetter .container .newsLetter .row {
  flex-wrap: wrap;
}
#newsLetter .container .newsLetter .row .col-lg-10 {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 {
  flex-wrap: wrap;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-7 {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-7 h2 {
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 0 !important;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-7 p {
  margin-top: 0;
  margin-bottom: 1rem;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-5 {
  align-items: center !important;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-5 form {
  width: 100%;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-5 form .form-group {
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 0;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-5 form .form-group input {
  background: transparent !important;
  color: white !important;
  font-size: 16px;
  padding: 0;
  border-radius: 5px 0px 0px 5px;
  border: none !important;
  height: 45px;
}
#newsLetter .container .newsLetter .row .col-lg-10 .col-lg-5 .col-md-5 form .form-group a i {
  font-size: inherit;
  color: #fff;
  font: normal normal normal 14px/1;
}

#about-page {
  background-color: #6610f2;
}
#about-page .container .about-page {
  padding: 180px 0;
}
#about-page .container .about-page .row {
  color: rgba(255, 255, 255, 0.8);
  z-index: 0;
  position: relative;
}
#about-page .container .about-page .row .col-md-9 {
  text-align: center !important;
}
#about-page .container .about-page .row .col-md-9 h1 {
  font-weight: 300;
  color: #fff;
  font-size: 60px;
}
#about-page .container .about-page .row .col-md-9 p {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#about-page .container .about-page .row .col-md-9 p .me-2 {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.5rem !important;
}
#about-page .container .about-page .row .col-md-9 p .me-2:hover a {
  color: #1fb6fc;
}
#about-page .container .about-page .row .col-md-9 p .me-2:hover a i {
  color: #1fb6fc;
}
#about-page .container .about-page .row .col-md-9 p .me-2 a {
  color: rgba(255, 255, 255, 0.8);
}
#about-page .container .about-page .row .col-md-9 p .me-2 a i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
#about-page .container .about-page .row .col-md-9 p span {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.5rem !important;
}
#about-page .container .about-page .row .col-md-9 p span a {
  color: rgba(255, 255, 255, 0.8);
}
#about-page .container .about-page .row .col-md-9 p span a i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

#services-page {
  background-color: #6610f2;
}
#services-page .container .services-page {
  padding: 180px 0;
}
#services-page .container .services-page .row {
  color: rgba(255, 255, 255, 0.8);
  z-index: 0;
  position: relative;
}
#services-page .container .services-page .row .col-md-9 {
  text-align: center !important;
}
#services-page .container .services-page .row .col-md-9 h1 {
  font-weight: 300;
  color: #fff;
  font-size: 60px;
}
#services-page .container .services-page .row .col-md-9 p {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#services-page .container .services-page .row .col-md-9 p .me-2 {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.5rem !important;
}
#services-page .container .services-page .row .col-md-9 p .me-2:hover a {
  color: #1fb6fc;
}
#services-page .container .services-page .row .col-md-9 p .me-2:hover a i {
  color: #1fb6fc;
}
#services-page .container .services-page .row .col-md-9 p .me-2 a {
  color: rgba(255, 255, 255, 0.8);
}
#services-page .container .services-page .row .col-md-9 p .me-2 a i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}
#services-page .container .services-page .row .col-md-9 p span {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.5rem !important;
}
#services-page .container .services-page .row .col-md-9 p span a {
  color: rgba(255, 255, 255, 0.8);
}
#services-page .container .services-page .row .col-md-9 p span a i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}/*# sourceMappingURL=main.css.map */