// #choose {
//   // .overlay {

//   // }
//   .choose {
//     padding: 100px 0;
//     .col-md-8 {
//       span {
//         @extend %span;
//         color: white;
//       }
//       h2 {
//         @extend %h2;
//       }
//     }
//     .card {
//       .reason {
//         .reason-icon {
//           width: 80px;
//           height: 80px;
//           border-radius: 50%;
//           background: #1fb6fc;
//           margin: 0 auto;
//           margin-bottom: 10px;
//         }
//         .reason-text {
//           h3 {
//             font-size: 24px;
//             margin-bottom: 20px;
//           }
//           p {
//             @extend %p;
//             width: 100px;
//           }
//         }
//       }
//     }
//   }
// }

#choose {
  position: relative;
  z-index: 0;
  background-color: #f7f8fd;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // content: '';
    z-index: -1;
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
    opacity: 1;
    height: 550px;
  }
  .container {
    .choose {
      padding: 100px 0;
      .row {
        .col-md-8 {
          span {
            @extend %span;
            color: white;
          }
          h2 {
            color: white;
          }
          p {
            color: rgba(255, 255, 255, 0.8);
            margin-top: 35px;
          }
        }

        .col {
          .prod {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid white;
            // padding: 20px;
            background-color: white;
            text-align: center;
            // width: 250px;
            &:hover {
              transition: 1s;
              background-color: #1fb6fc;
              .icon {
                background-color: white !important;
                i {
                  color: #1fb6fc !important;
                }
              }
            }
            .prod-head {
              padding: 20px;
              .icon {
                background-color: #1fb6fc;
                padding: 30px;
                border-radius: 50%;

                .fa-solid {
                  font-size: 30px;
                  color: white;
                }
              }
            }
            .prod-body {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 20px 0;
              text-align: center;
              p {
                padding: 0 20px;
              }
            }
          }
        }
      }
    }
  }
}
